.content-box {
    border-radius: 25px;
    background: #f8f9fa;
    padding: 20px;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.text {
    color: black;
}

.text.ut {
    font-style: italic;
    font-size: small;
}

.center {
    margin: auto;
    width: 40%;
}

.center.pnf{
    width: 20%;
}