{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <link href="static/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="mb-20"></div>
    <div class="center">
        {% for dict_item in msgs %}
            <div class="content-box">
                <div class="text">
                    {{ dict_item["msg_text"] }}
                    <hr>
                    <div class="text ut">
                        Created by: {{ dict_item["usr_name"] }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}